body {
  background-color: rgb(29, 29, 29);
}

.axisRed line{
  stroke: rgb(96, 96, 96);
  stroke-width: 2px;
}

.axisRed path{
  stroke: rgb(96, 96, 96);
  stroke-width: 2px;
}

.axisRed text{
  fill: rgb(96, 96, 96);
  font-size: 20px;
}

/*div {
  font-size: 30px;
  background-color: #7bcd1d;
}*/
.tooltip {
  padding: 5px;
  color: rgb(196, 251, 230);
  fill:rgb(172, 244, 228);
  font-family: arial;
  font-size: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.tooltip_pin {
  position:absolute;
  width: 20px;
  height: 30px;
  background-color: rgb(105, 255, 29);
}

.tooltip_container {
  /*padding-left: 10px;*/
  margin: auto;
  width: 250px;
  background-color: rgb(233, 59, 10);
  position: absolute;
}
